<div class="w3-container w3-card w3-white w3-margin-bottom">
  <h2 class="w3-text-grey w3-padding-16">
    <i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i
    >Work Experience
  </h2>
  <% for(let i = 0; i<experience.length; i++){ %>
  <div class="w3-container">
    <h5 class="w3-opacity">
      <b><%= experience[i]["genre"] %>/ <%= experience[i]["workStation"] %></b>
    </h5>
    <h6 class="w3-text-teal">
      <i class="fa fa-calendar fa-fw w3-margin-right"></i><%= experience[i]["start"] %> -
      <span class="w3-tag w3-teal w3-round"><%= experience[i]["end"] %></span>
    </h6>
    <p>
      <%= experience[i]["info"] %>
    </p>
    <hr />
  </div>
  <%}%>
  <!-- <div class="w3-container">
    <h5 class="w3-opacity"><b>Web Developer / kernel.com</b></h5>
    <h6 class="w3-text-teal">
      <i class="fa fa-calendar fa-fw w3-margin-right"></i>Mar 2017 - Dec 2020
    </h6>
    <p>
      Consectetur adipisicing elit. Praesentium magnam consectetur vel in
      deserunt aspernatur est reprehenderit sunt hic. Nulla tempora soluta ea et
      odio, unde doloremque repellendus iure, iste.
    </p>
    <hr />
  </div>
  <div class="w3-container">
    <h5 class="w3-opacity">
      <b>Graphic Designer / figma.com</b>
    </h5>
    <h6 class="w3-text-teal">
      <i class="fa fa-calendar fa-fw w3-margin-right"></i>Jun 2020 - July 2020
    </h6>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <br />
  </div> -->
</div>